body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.img1 {
float: left;
width:320px;
margin: 15px 15px 20px 0px;
}

.img2 {
float: right;
width: 320px;
margin: 15px 0px 20px 15px;
}